.br {
    z-index: 20;
    height: 70px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(0, 62, 112), steelblue, deepskyblue, dodgerblue, deepskyblue, steelblue, rgb(0, 62, 112));
    margin-top: 65px;
}





#contact {
    /* background: var(--black); */
    background-image: radial-gradient(steelblue, black, black)
}

h2 {
    color: whitesmoke;
}

label {
    color: whitesmoke;
}

.btn {
    color: whitesmoke;
    margin-bottom: 40px;
}