:root {
    --red: #e80d0d;
    --orange: #f98500;
    --yellow: #ffc600;
    --green: #10a503;
    --blue-green: #0ed6a4;
    --blue: #0071b2;
    --purple: #6a00b2;
    --brown: #6d6656;
    --grey: #53565A;
    --black: #272727;
  
    --font-one: 'Jua', sans-serif;
    --font-two: 'Raleway Dots', cursive;
    --font-three: 'Amatic SC', cursive;
    
    --font-1: 'allura';
    --font-2: 'arizonia';
    --font-3: 'dancing script';
    --font-4: 'Fredericka the Great';
    --font-5: 'Great Vibes';
    --font-6: 'Italianno';
    --font-7: 'Lovers Quarrel';
    --font-8: 'Norican';
    --font-9: 'Parisienne';
    --font-10: 'Pinyon Script';
    --font-11: 'Playball';
    --font-12: 'Tangerine';
  }